<div class="post">
    <div class="post-contents">  
        <h3>{{dragonName}}</h3>            
        <div class="post-image-container">
            <img src="{{photo_url}}" alt="{{dragonName}}">
        </div>
        <div class="description-container">
            <p>
                {{description}}
            </p>
    </div>
</div>
