.map-image-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  margin: 20px auto;
  border: 2px solid #5a2d82;
  overflow: hidden;
  background-color: #fff;
}

#greenland_button {
    width:30px;
    height:30px;
    border-radius: 50%;

    position: fixed;
    bottom: 40px;
    right: 32px;

}

.gl_post-contents {
    border: 1px solid rgb(156, 153, 153);
    padding: 10px;

    width:250px;
    height:300px;
    margin: 10px 10px;

    align-items: center;

}

.gl_post-image-container{
    /* Set the width of the image container */
    width: 200px;               
    overflow: hidden;          
    display: flex;         
    
    /* Center the image */
    justify-content: center; 
    margin: 5px 20px;

}

.gl_post-image-container img {
    max-width: 100%;               
    min-height: 60%; 
}

.gl_modal-header{
    
}