
// not using

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dragon Wiki</title>

        <link rel="stylesheet" href="DragonMap.css">
        <script src="DragonMap.js" charset="utf-8" defer> </script>
    </head>

    <header>
        <h1>Dragon Map</h1>
        <nav>
            <button id="HomePage" onclick="location.href='/'">HOME PAGE</button>
        </nav>
    </header>

    <body>

        {{{body}}}
    </body>

    

</html>