
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dragon Wiki</title>
        <link rel="stylesheet" href="../static/DragonWiki.css">
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.js" charset="utf-8" defer></script>
        <script src="../static/oneDragonTemplate.js" charset="utf-8" defer></script>
        <script src="../static/wikipage.js" charset="utf-8" defer></script>
    </head>
    <header>
        <h1>Dragon Wiki</h1>
        <nav>
            <button id="HomePage" onclick="location.href='/'">HOME PAGE</button>
        </nav>
    </header>
    <body>
        {{{body}}}
    </body>

    

</html>