<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dragon Wiki</title>
        <link rel="stylesheet" href="../static/DragonWiki.css">
    </head>
    <header>
        <h1>Dragon Wiki</h1>
        <nav>
            <button id="HomePage" onclick="location.href='/'">HOME PAGE</button>
        </nav>
    </header>
    <body>
        <section id="posts">
            {{#each posts}}
                {{> oneDragon}}
            {{/each}}
        
        </section>

        {{> addDragon}}

        
    </body>
    
</html>
