<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragon Map Wiki</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="overlay">
    <div class="center-content">
      <img src="/imgs/DragLogo.png" alt="Dragon Map Wiki Logo" class="logo">
      <h1 class="title">Welcome to Dragon Map Wiki</h1>
      <button id="goToWiki" onclick="location.href='/test'">Explore Dragon Map</button>
    </div>
  </div>
</body>
</html>
