<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragon Map Wiki</title>
  <link rel="stylesheet" href="/test.css"> <!-- ページ固有のスタイルシート -->
  <script src="/test.js" defer></script> <!-- ページ固有のスクリプト -->
</head>



<body>

  <nav>
      <button id="HomePage" onclick="location.href='/'">HOME PAGE</button>
  </nav>
    
  <div class="map-image-container">
    <div class="image-wrapper">
      <img src="/imgs/newworldmap.jpg" alt="World Map">

      <!-- All buttons -->
      <button type="button" id="greenland_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="greece_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="nw_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="mx_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="china_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="alps_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="eng_button"><i class="fas fa-plus"></i></button>
      <button type="button" id="jpn_button"><i class="fas fa-plus"></i></button>

      <!-- Arctic Dragon Modal -->
      <div class="gl_dragon_box">
        <div id="gl_modal-backdrop" class="hidden"></div>
        <div id="gl_dragon-info-modal" class="hidden">
          <div class="gl_modal-dialog">
            <div class="gl_modal-header">
              <h3>The Arctic Dragon!</h3>
            </div>
            <div class="gl_modal-footer">
              <button type="button" id="gl-modal-close" class="gl-modal-hide-button">&times;</button>
            </div>
            <div class="gl_post-contents">
              <div class="gl_post-image-container">
                <img src="/imgs/arcticDragon.png" alt="Arctic Dragon">
              </div>
              <div class="gl_drag_description">
                <p>
                  Arctic Dragons are a rare form of reptile, distinguishable by their luminous horns and tail. In the depths of the Arctic Ocean, these magnificent creatures were first discovered over 500 years ago and are thought to be currently endangered.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Hydra Modal -->
      <div class="gr_dragon_box">
        <div id="gr_modal-backdrop" class="hidden"></div>
        <div id="gr_dragon-info-modal" class="hidden">
          <div class="gr_modal-dialog">
            <div class="gr_modal-header">
              <h3>The Hydra</h3>
            </div>
            <div class="gr_modal-footer">
              <button type="button" id="gr-modal-close" class="gr-modal-hide-button">&times;</button>
            </div>
            <div class="gr_post-contents">
              <div class="gr_post-image-container">
                <img src="/imgs/Hydra_screenshot.png" alt="Hydra">
              </div>
              <div class="gr_drag_description">
                <p>
                  The Hydra was a serpent-like water monster with nine heads that is often referenced in Greek mythology. It was an offspring of Typhon and Echidna bred by Hera to kill Hercules.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Jörmungandr Modal -->
      <div class="nw_dragon_box">
        <div id="nw_modal-backdrop" class="hidden"></div>
        <div id="nw_dragon-info-modal" class="hidden">
          <div class="nw_modal-dialog">
            <div class="nw_modal-header">
              <h3>Jörmungandr</h3>
            </div>
            <div class="nw_modal-footer">
              <button type="button" id="nw-modal-close" class="nw-modal-hide-button">&times;</button>
            </div>
            <div class="nw_post-contents">
              <div class="nw_post-image-container">
                <img src="/imgs/jormungandr.png" alt="Jörmungandr">
              </div>
              <div class="nw_drag_description">
                <p>
                  In Norse mythology, Jörmungandr is an unfathomably large and monstrous sea serpent who dwells in the world sea, encircling the Earth and biting its own tail. It is said that Jörmungandr releasing its tail will signal the beginning of Ragnarök.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Coatyl Modal -->
      <div class="mx_dragon_box">
        <div id="mx_modal-backdrop" class="hidden"></div>
        <div id="mx_dragon-info-modal" class="hidden">
          <div class="mx_modal-dialog">
            <div class="mx_modal-header">
              <h3>Coatyl</h3>
            </div>
            <div class="mx_modal-footer">
              <button type="button" id="mx-modal-close" class="mx-modal-hide-button">&times;</button>
            </div>
            <div class="mx_post-contents">
              <div class="mx_post-image-container">
                <img src="/imgs/Coatyl.png" alt="Coatyl">
              </div>
              <div class="mx_drag_description">
                <p>
                  The Coatyl is a species of dragon with large, birdlike wings and no legs. Native to humid evergreen tropics, it is the only species of dragon that has evolved to have feathers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Chinese Dragon Modal -->
      <div class="china_dragon_box">
        <div id="china_modal-backdrop" class="hidden"></div>
        <div id="china_dragon-info-modal" class="hidden">
          <div class="china_modal-dialog">
            <div class="china_modal-header">
              <h3>Chinese Dragon</h3>
            </div>
            <div class="china_modal-footer">
              <button type="button" id="china-modal-close" class="china-modal-hide-button">&times;</button>
            </div>
            <div class="china_post-contents">
              <div class="china_post-image-container">
                <img src="/imgs/chinesedragon.png" alt="Chinese Dragon">
              </div>
              <div class="china_drag_description">
                <p>
                  The Chinese Dragon is a legendary creature in Chinese mythology, folklore, and culture. It symbolizes auspicious powers, particularly control over water, rainfall, and floods.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Wyvern Modal -->
      <div class="alps_dragon_box">
        <div id="alps_modal-backdrop" class="hidden"></div>
        <div id="alps_dragon-info-modal" class="hidden">
          <div class="alps_modal-dialog">
            <div class="alps_modal-header">
              <h3>Wyvern</h3>
            </div>
            <div class="alps_modal-footer">
              <button type="button" id="alps-modal-close" class="alps-modal-hide-button">&times;</button>
            </div>
            <div class="alps_post-contents">
              <div class="alps_post-image-container">
                <img src="/imgs/wyvern.png" alt="Wyvern">
              </div>
              <div class="alps_drag_description">
                <p>
                  The Wyvern is a type of mythical dragon with two legs and two wings. It frequently appears in European heraldry, literature, and folklore.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Red Dragon Modal -->
      <div class="eng_dragon_box">
        <div id="eng_modal-backdrop" class="hidden"></div>
        <div id="eng_dragon-info-modal" class="hidden">
          <div class="eng_modal-dialog">
            <div class="eng_modal-header">
              <h3>The Red Dragon/Dragonette</h3>
            </div>
            <div class="eng_modal-footer">
              <button type="button" id="eng-modal-close" class="eng-modal-hide-button">&times;</button>
            </div>
            <div class="eng_post-contents">
              <div class="eng_post-image-container">
                <img src="/imgs/dragon.png" alt="The Red Dragon/Dragonette">
              </div>
              <div class="eng_drag_description">
                <p>
                  Medieval England's folklore features dragons terrorizing villages and battling heroes, symbolizing both terror and nobility.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Japanese Dragon Modal -->
      <div class="jpn_dragon_box">
        <div id="jpn_modal-backdrop" class="hidden"></div>
        <div id="jpn_dragon-info-modal" class="hidden">
          <div class="jpn_modal-dialog">
            <div class="jpn_modal-header">
              <h3>Japanese Dragon</h3>
            </div>
            <div class="jpn_modal-footer">
              <button type="button" id="jpn-modal-close" class="jpn-modal-hide-button">&times;</button>
            </div>
            <div class="jpn_post-contents">
              <div class="jpn_post-image-container">
                <img src="/imgs/ryujin.png" alt="Japanese Dragon">
              </div>
              <div class="jpn_drag_description">
                <p>
                  Japanese dragons are legendary creatures combining native and Chinese influences, often associated with water deities.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
